<meta charset="utf-8">
<!-- Horizontal Form -->
 <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">薪资添加</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
       <div class="box-body">
         
         <div class="form-group">
            <label for="payEmNumber" class="col-sm-2 control-label">编号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  id="payEmNumber" placeholder="编号">
            </div>
          </div>
          <div class="form-group">
            <label for="payEmName" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  id="payEmName" placeholder="姓名">
            </div>
          </div>
          <div class="form-group">
            <label for="payMonth" class="col-sm-2 control-label">发放时间</label>
            <div class="col-sm-10">
              <input type="text" class="form-control "  id="payMonth" placeholder="例如:2019-07">
            </div>
          </div>
          <div class="form-group">
            <label for="payBaseMoney" class="col-sm-2 control-label">基本工资</label>
            <div class="col-sm-10">
              <input type="text" class="form-control "  id="payBaseMoney" placeholder="基本工资">
            </div>
          </div>
           
          <div class="form-group">
            <label for="payOverTime" class="col-sm-2 control-label">加班费用</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  id="payOverTime" placeholder="加班费用">
            </div>
          </div>
          <div class="form-group">
			<label for="payAge" class="col-sm-2 control-label">工龄费</label>
			<div class="col-sm-10">
				<input type="text" id="payAge" placeholder="工龄" class="form-control">
			</div>
		  </div>
		  <div class="form-group">
				<label for="payCheck" class="col-sm-2 control-label">全勤奖</label>
				<div class="col-sm-10">
					<input type="text" id="payCheck" placeholder="全勤奖" class="form-control">
				</div>
		 </div>
		  <div class="form-group">
				<label for="payAbsent" class="col-sm-2 control-label">旷工费</label>
				<div class="col-sm-10">
					<input type="text" id="payAbsent" placeholder="旷工费" class="form-control">
				</div>
		 </div>
		  <div class="form-group">
				<label for="paySafety" class="col-sm-2 control-label">保险费</label>
				<div class="col-sm-10">
					<input type="text" id="paySafety" placeholder="保险费" class="form-control">
				</div>
		 </div>
		 <div class="form-group">
            <label for="getMoney" class="col-sm-2 control-label">实发工资</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  id="getMoney" placeholder="实发工资">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="button" class="btn btn-default btn-cancel">返回</button>
		  <button type="button" class="btn btn-info pull-right btn-save">保存</button>
        </div>
        <!-- /.box-footer -->
      </form>
      <!-- zTree 对应的div -->
      <div class="layui-layer layui-layer-page layui-layer-molv layer-anim" id="menuLayer" type="page" times="2" showtime="0" contype="object"
		style="z-index:59891016; width: 300px; height: 450px; top: 100px; left: 500px; display:none">
		<div class="layui-layer-title" style="cursor: move;">选择菜单</div>
		<div class="layui-layer-content" style="height: 358px;">
			<div style="padding: 10px;" class="layui-layer-wrap">
				<ul id="menuTree" class="ztree"></ul>    <!-- 动态加载树 -->
			</div>
		</div>
		<span class="layui-layer-setwin"> <a class="layui-layer-ico layui-layer-close layui-layer-close1 btn-cancel" ></a></span>
		<div class="layui-layer-btn layui-layer-btn-">
			<a class="layui-layer-btn0 btn-confirm">确定</a>
			<a class="layui-layer-btn1 btn-cancel">取消</a>
	     </div>
      </div>
  </div>
  <script type="text/javascript" src="bower_components/ztree/jquery.ztree.all.min.js"></script>
  <script type="text/javascript" src="bower_components/layer/layer.js">
  </script>
  <script type="text/javascript">
  
  $(function(){
	 
	  //box-footer中按钮事件注册
	  $(".box-footer")
	  .on("click",".btn-cancel",doCancel)
	  .on("click",".btn-save,.btn-update",doSaveOrUpdate)
	  
	 
	  var rowData=
	  $("#mainContentId").data("rowData");
	  //假如有值说明是修改,则基于此值初始化编辑页面.
	  if(rowData)doInitEditFormData(rowData);
  }); 
//初始化表单数据
  function doInitEditFormData(rowData){
	$("#id").val(rowData.id);
	$("#payEmNumber").val(rowData.payEmNumber);  
	$("#payEmName").val(rowData.payEmName); 
	$("#payMonth").val(rowData.payMonth); 
	$("#payBaseMoney").val(rowData.payBaseMoney); 
	$("#payOverTime").val(rowData.payOverTime); 
	$("#payAge").val(rowData.payAge);  
	$("#payCheck").val(rowData.payCheck);  
	$("#payAbsent").val(rowData.payAbsent);  
	$("#paySafety").val(rowData.paySafety);  
	$("#getMoney").val(rowData.getMoney); 
  }
  //回到列表页面
  function doCancel(){
	var url="sys/pay_list";
	$("#mainContentId").load(url);  
  }
  //将表单数据发送到服务端
  function doSaveOrUpdate(){
	// debugger
	 if(!confirm("信息无误请点击确定"))return;
	 //1.获取表单中用户输入数据
	 var params=doGetEditFormData();
	 var rowData=$("#mainContentId").data("rowData");
	 if(rowData)params.id=rowData.id;
	 //2.异步提交数据到服务端
	 var url="pay/doSaveObject";
	// var updateUrl="pay/doUpdateObject";
	// var url=rowData?updateUrl:insertUrl;
	 
	 $.post(url,params,function(result){
		 if(result.state==1){
			 alert(result.message);
			 doCancel();
		 }else{
			 alert(result.message);
		 }
	 })
  }
   function doGetEditFormData(){
	  var params={
	     //"id":$("#id").val(),
	     "payEmNumber":$("#payEmNumber").val(),
	     "payEmName":$("#payEmName").val(),
	     "payMonth":$("#payMonth").val(),
	     "payBaseMoney":$("#payBaseMoney").val(),
	     "payOverTime":$("#payOverTime").val(),
	     "payAge":$("#payAge").val(),
	     "payCheck":$("#payCheck").val(),
	     "payAbsent":$("#payAbsent").val(),
	     "paySafety":$("#paySafety").val(),
	     "getMoney":$("#getMoney").val()
	  }
	  return params;
  }
 </script>
    
    
    
    
    
    
    
    
    