<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.sys.dao.SysPayDao">

	<!-- 查询记录总数 -->
	
	<!-- 查询表中所有数据 -->
	<select id="findObjects" resultType="com.cy.sys.pojo.SysPay">
		select id,pay_emNumber payEmNumber,pay_EmName payEmName,
				pay_month payMonth,pay_baseMoney payBaseMoney,
				pay_overtime PayOverTime,pay_age payAge,
				pay_check payCheck,pay_absent payAbsent,
				pay_safety paySafety
		from sys_pay;
	</select>
	<!-- 根据年月查询表中所有数据 -->
	<select id="findObjectsByMonth" resultType="com.cy.sys.pojo.SysPay">
		select id,pay_emNumber payEmNumber,pay_EmName payEmName,
				pay_month payMonth,pay_baseMoney payBaseMoney,
				pay_overtime PayOverTime,pay_age payAge,
				pay_check payCheck,pay_absent payAbsent,
				pay_safety paySafety
		from sys_pay
		where pay_month=#{payMonth};
	</select>
	<!-- 根据id删除记录 -->
	<delete id="deleteObjectById">
		delete from sys_pay where id=#{id}
	</delete>
	<!-- 根据名称模糊查询表中所有数据 -->
	<select id="findObjectsByName" resultType="com.cy.sys.pojo.SysPay">
		select id,pay_emNumber payEmNumber,pay_emName payEmName,
				pay_month payMonth,pay_baseMoney payBaseMoney,
				pay_overtime PayOverTime,pay_age payAge,
				pay_check payCheck,pay_absent payAbsent,
				pay_safety paySafety
		from sys_pay
		where pay_emName like concat("%",#{payEmName},"%")
	</select>
	<!-- 查询编号，姓名 -->
	<select id="findObjectsByEmployee" resultType="com.cy.sys.pojo.Node">
		select sys_employee.id,sys_employee.emSerialNumber ,sys_employee.emName ,c.em_numberName
		from sys_employee,(select id sys_employeeId,concat(concat(emSerialNumber,' '),emName) em_numberName from sys_employee) c
		where sys_employee.id=c.sys_employeeId;
	</select>
	
       
      
</mapper>